
<!-- Loading -Cargador % True -->
<div *ngIf="loading" class="row d-flex justify-content-center align-items-center">
    <div class="col-12 text-center">
        <p-progressSpinner></p-progressSpinner>
    </div>
</div>

<!-- Sidebar menu-->
//*ngIf="!userLoginOn" mostrar cuando 

<div *ngIf="!loading" class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="https://randomuser.me/api/portraits/men/1.jpg" alt="User Image">
        <div>
        <p class="app-sidebar__user-name">John Doe</p>
        <p class="app-sidebar__user-designation">Frontend Developer</p>
        </div>
    </div>
    <!-- APP-MENU -->
    <ul class="app-menu">
        <!-- ITEM PROFESOR -->
        <li *ngIf="userLoginOn"><a class="app-menu__item" routerLink="/teacher"><i class="app-menu__icon bi bi-speedometer"></i><span class="app-menu__label"><i class="fa-solid fa-briefcase"> </i> Profesor</span></a></li>
        <!-- ITEM ESTUDIANTE-->
        <li *ngIf="userLoginOn" class="treeview"><a class="app-menu__item" routerLink="/student" data-toggle="treeview"><i class="app-menu__icon bi bi-laptop"></i><span class="app-menu__label"><i class="fa-solid fa-user-graduate"> </i> Estudiantes</span><i class="treeview-indicator bi bi-chevron-right"></i></a>        
        <!-- ITEM SEDE-->
        <li *ngIf="userLoginOn" class="treeview"><a class="app-menu__item" routerLink="/menu" data-toggle="treeview"><i class="app-menu__icon bi bi-table"></i><span class="app-menu__label" routerLink="/student"><i class="fa-solid fa-school"> </i> Sedes</span><i class="treeview-indicator bi bi-chevron-right"></i></a>
        </li>
        <!-- ITEM OFERTAS-->
        <li *ngIf="!userLoginOn" class="treeview"><a class="app-menu__item" routerLink="/teacher" data-toggle="treeview"><i class="app-menu__icon bi bi-table"></i><span class="app-menu__label" routerLink="/student"><i class="fa-solid fa-clipboard"> </i> Ofertas</span><i class="treeview-indicator bi bi-chevron-right"></i></a>
        </li>
        <!-- ITEM NOTICIAS-->
        <li *ngIf="!userLoginOn" class="treeview"><a class="app-menu__item" routerLink="/student" data-toggle="treeview"><i class="app-menu__icon bi bi-table"></i><span class="app-menu__label" routerLink="/student"> <i class="fa-solid fa-bullhorn"> </i> Noticias</span><i class="treeview-indicator bi bi-chevron-right"></i></a>
        </li>
        <!-- ITEM CONTACTO-->
        <li *ngIf="!userLoginOn" class="treeview"><a class="app-menu__item" routerLink="/menu" data-toggle="treeview"><i class="app-menu__icon bi bi-table"></i><span class="app-menu__label" routerLink="/student"> <i class="fa-solid fa-address-book "> </i> Contactos</span><i class="treeview-indicator bi bi-chevron-right"></i></a>
        </li>
        <!-- ITEM SALIR lOGOUT-->
        <li><a class="app-menu__item no-underline" href="#"><i class="app-menu__icon bi bi-code-square"></i><span class="app-menu__label" (click)="logout()"><i class="fa-solid fa-right-from-bracket">  </i>  Logout</span></a></li>
    </ul>
</aside> 

