@charset "UTF-8";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Niconne);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    font-family: 'Niconne', sans-serif;
}

/* Otras reglas CSS */
#form-admin input.ng-valid:not(form).ng-touched,
#form-admin select.ng-valid:not(form).ng-touched {
border-left: 5px solid #2ecc71; /* Verde */
}

#form-admin input.ng-invalid:not(form).ng-touched,
#form-admin select.ng-invalid:not(form).ng-touched {
border-left: 5px solid #e74c3c; /* Rojo */
}



footer {
    background-color: #0cb02b;
    color: white;
    padding: 10px 0;
    margin-top: 768px;
    margin-bottom: 0px;
}

.jumbotron {
    background-color: #0cb02b;
    color: #ffffff;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.contenedor-footer {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 14px;
}

.titulo-final {
    font-size: 16px;
    margin-top: 10px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons :in-range {
    font-size: 20px;
    color: #ffffff;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-icons i:hover {
    color: #55acee;
}

