<!-- Essential javascripts for application to work-->

<div  class="jumbotron">
    <div class="text-center text-white">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-8 mt-2">
                    <div class="contenedor-footer">
                        <p><strong>Teléfono:</strong> 8296312 | <strong>Email:</strong> ideco&#64;ideco.edu.co | <strong>Location:</strong> Calle 41 25 a - El Bagre Antioquia</p>
                    </div>
                    <h6 class="titulo-final">
                        &copy; Sistema de Notas - noteSystem | Proyecto Etapa productiva realizado por: Cleiber Salas Baldovino.
                    </h6>
                </div>
            </div>
            <div class="social-icons">
            <a href="#" class="text-white me-2"><i class="fab fa-facebook-f"></i></a><a href="" class="text-white me-2"><i class="fab fa-twitter"></i></a><a href="" class="text-white me-2"><i class="fab fa-google"></i></a><a href="" class="text-white me-2"><i class="fab fa-instagram"></i></a><a href="" class="text-white me-2"><i class="fab fa-linkedin"></i></a><a href="" class="text-white me-2"><i class="fab fa-github"></i></a>
        </div>
        
    </div>
</div>
